Xft.dpi: 96

XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256
XTerm.termName: xterm-256color
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.vt100.locale: true
XTerm.ttyModes: erase ^?
XTerm.vt100.faceName: xos4 Terminus:size=6:antialias=false

! blue
*.color4:       #6495ed
*.color12:      #87ceeb

URxvt.font: xft:xos4 Terminus:antialias=true,xft:FontAwesome:size=8:antialias=true
URxvt.letterSpace: -1
URxvt.scrollBar: false
